<div class="card" style="width: 18rem;">
  <img [src]="heroe.img" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ index + 1 }} - {{heroe.nombre}}</h5>
    <p class="card-text">{{heroe.bio}}</p>
    <p class="card-text">
      <small class="text-muted">{{ heroe.aparicion }}</small>
    </p>
    <button class="btn btn-outline-primary" (click)="verHeroe(heroe._id)">
      Más...
    </button>
    <button class="btn btn-outline-primary" (click)="verFotos(heroe._id)">
      Fotos
    </button>
    <button (click)="editarHeroe(heroe._id)" type="button" class="btn btn-outline-success btn-block">
      <i class="fa fa-edit"></i>
      Editar
    </button>
    <button (click)="eliminarHeroe(heroe._id)" type="button" class="btn btn-outline-danger btn-block">
      <i class="fa fa-trash"></i>
      Eliminar
    </button>
  </div>
</div>
