<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <h1>Héroes Marvel y DC &nbsp;</h1>
  <button (click)="cambiarVisualizacion('grid')" type="button" class="btn btn-danger">Grid</button>
  <button (click)="cambiarVisualizacion('list')" type="button" class="btn btn-primary">Lista</button>
</div>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group me-2" role="group" aria-label="First group">
    <button [routerLink]="['/home']" class="btn btn-outline-danger">
      <i class="fa fa-undo"></i>
      Regresar
    </button>
  </div>

  <div class="btn-group" role="group" aria-label="Third group">
    <button [routerLink]="['/heroeedit', 'nuevo']" type="button" class="btn btn-outline-success">
      <i class="fa fa-plus"></i>
      Nuevo Heroe
    </button>
  </div>
</div>

<hr />

<div *ngIf="visualizacion === 'grid'" class="container">
  <div class="row">
    <div class="col" *ngFor="let heroe of heroes; let i = index">
      <app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [heroe]="heroe" [index]="i"></app-heroe-tarjeta>
    </div>
  </div>
</div>

<div *ngIf="visualizacion === 'list'" class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Imagen</th>
        <th scope="col">Heroe</th>
        <th scope="col">Biografia</th>
        <th scope="col">Casa</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let heroe of heroes; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td><img [src]="heroe.img" class="img-thumb" /></td>
        <td>{{ heroe.nombre }}</td>
        <td>{{ heroe.bio }}</td>
        <td>{{ heroe.casa }}</td>
        <td>
          <button (click)="verHeroe(i+1)" type="button" class="btn btn-outline-primary btn-block">
            Más...
          </button>
        </td>
        <td>
          <button class="btn btn-outline-primary" (click)="verFotos(heroe._id)">
            Fotos
          </button>
        </td>
        <td>
          <button (click)="editarHeroe(heroe._id)" type="button" class="btn btn-outline-success btn-block">
            <i class="fa fa-edit"></i>
            Editar
          </button>
        </td>
        <td>
          <button (click)="eliminarHeroe(heroe)" type="button" class="btn btn-outline-danger btn-block">
            <i class="fa fa-trash"></i>
            Eliminar
          </button>
        </td>
      </tr>

    </tbody>
  </table>
</div>
