<h1>Héroes Marvel y DC</h1>

<div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <button (click)="cambiarVisualizacion('grid')" type="button" class="btn btn-danger">Grid</button>
    <button (click)="cambiarVisualizacion('list')" type="button" class="btn btn-primary">Lista</button>
</div>

<hr />

<div *ngIf="visualizacion === 'grid'" class="container">
  <div class="row">
    <div class="col" *ngFor="let heroe of heroes; let i = index">
      <app-heroe-tarjeta
        (heroeSeleccionado)="verHeroe($event)"
        [heroe]="heroe"
        [index]="i"
      ></app-heroe-tarjeta>
    </div>
  </div>
</div>
<div *ngIf="visualizacion === 'list'" class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Imagen</th>
        <th scope="col">Heroe</th>
        <th scope="col">Biografia</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let heroe of heroes; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td><img [src]="heroe.img" class="img-thumb" /></td>
        <td>{{ heroe.nombre }}</td>
        <td>{{ heroe.bio }}</td>
        <td>
          <button
            (click)="verHeroe(i+1)"
            type="button"
            class="btn btn-outline-primary btn-block"
          >
            Ver más...
          </button>
        </td>
        <td>
          <button class="btn btn-outline-primary" (click)="verFotos(heroe._id)">
            Ver Fotos
          </button>
        </td>
      </tr>

    </tbody>
  </table>
</div>



